.min-width-0 {
    min-width: 0;
}
.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-group-item:hover {
    background-color: #f8f9fa;
}
